extends layout

block content
  div(ng-controller='historyCtrl', class='container')
    .row
      .col-md-12
        h2=title
        hr
    for brew in brews    
      .row
        .col-sm-12
          .panel.panel-default
            .panel-heading
              label #{brew.name}
            .panel-body
              p
                label Recipe:&nbsp
                a(href=brew.recipeUrl) #{brew.name}
              p
                label Stage:
                &nbspFermentation (started #{brew.startDT})